{% extends "maintemplate.html" %}
{% block mycontent %}
<style>
    table, th, td {
      border: 1px solid black;
      padding: 5px;
    }
    table {
      border-spacing: 15px;
    }
    </style>
<div style=width:100%;height:500px;overflow:auto;background-color:black;opacity:0.80;>
    <table >
        <tr>
            <th>Artist</th>
            <th>City</th>
            <th>Date</th>
            <th>Venue</th>
            <th>Ticket Link</th>
        </tr>
        {% for event in event_list %}
        <tr style=opacity:1.0;>
            {% if event.searched_artist != False %}
            <td><a href={{event.event_uri}}></href>{{event.searched_artist}}</td></a>
            {% else %}
            <td><a href={{event.event_uri}}></href>{{event.headliner}}</td></a>
            {% endif %}
            <td><a href={{event.event_uri}}></href>{{event.city}}</td></a>
            <td><a href={{event.event_uri}}></href>{{event.date}}</td></a>
            <td><a href={{event.venue_uri}}></href>{{event.venue_name}}</td></a>
            <td><a href={{event.event_uri}}></href>Learn More</td></a>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock mycontent %}