{% extends "maintemplate.html" %}
{% block mycontent %}
<doctype html="">
    <title>Basic Artist/Location Search</title>
    <h2>Basic Artist/Location Search</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
        <dl>
            <p>
                {{ render_field(form.searchArtist) }}

                {{ render_field(form.searchZip) }}
            <p><input type="submit" value="search">
        </dl>

    </form>
</doctype>
{% endblock mycontent %}