{% block content %}
    {% if userName %}
        <h1>Welcome {{userName}}</h1>
    {% else %}
        <h1>This won't work without a logged in Spotify Account. Click Home and Try again</h1>
    {% endif %}
    <form action="/go" method="post">
        <h3>Choose How Long to Parse your Music History:</h3>
        <br />
        <h4>
            <input type="radio" name="time_range" id="inlineCheckbox1" value="long_term" checked> Last Few Years
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Last Few Months
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox3" value="short_term"> Last Few Weeks
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox4" value="all_terms"> All of the above
        </h4>
        <br />
        <h3>How many Artists do you want to look for?</h3>
        <h4>
            <input type="range" min="1" max="50" value="25" name="num_tracks" step="1" onchange="showValue(this.value)" />
            <span id="range">50</span>
        </h4>
        <script type="text/javascript">
            function showValue(newValue) {
                document.getElementById("range").innerHTML = newValue;
            }
        </script>
        <br/>
        <div class="">
            <center>
                <button type="submit" class="btn btn-danger spotify_button" id="" style="">
                    <h4><i class="fab fa-spotify"></i> Pull Artists</h4>
                </button>
            </center>
        </div>
    </form>

    </div>
{% endblock %}